@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {

    --maximum-yellow-red: hsl(37, 100%, 68%);
    --royal-blue-dark: hsl(231, 61%, 22%);
    --silver-chalice: hsl(0, 0%, 70%);
    --oxford-blue: hsl(231, 100%, 8%);
    --bittersweet: hsl(106, 57%, 35%);
    --french-rose: hsl(106, 90%, 61%);
    --davys-gray: hsl(180, 3%, 28%);
    --cool-gray: hsl(240, 13%, 62%);
    --platinum: hsl(0, 0%, 92%);
    --white-2: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --rythm: hsl(240, 9%, 53%);
  
    /**
     * typography
     */
  
    --ff-poppins: "Poppins", sans-sarif;
  
    --fs-1: 25px;
    --fs-2: 23px;
    --fs-3: 20px;
    --fs-4: 18px;
    --fs-5: 15px;
    --fs-6: 14px;
  
    --fw-700: 500;
    --fw-600: 600;
    --fw-500: 300;
  
    /**
     * transition
     */
  
    --transition: 0.25s ease-in-out;
  
  }
  

  

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f9f8f8;
    align-items: center;
    justify-content: center;
}

*{
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px 20px;
}

.box{
    flex: 30%;
    display: table;
    align-items: center;
    text-align: center;
    font-size: 20px;
    background:linear-gradient(rgb(76, 174, 83), rgb(94, 167, 187));
    padding: 30px 30px;
    border-radius: 20px;
}

.box img{
    border-radius: 50%;
    border: 2px solid #fff;
    height: 250px;
    width: 250px;
}

.box ul{
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
}
.box ul li{
    list-style: none;
    margin-top: 30px;
    font-weight: 100;
}

.box ul li i{
    cursor: pointer;
    margin: 10px;
    font-size: 30px;
}

.box ul li i:hover{
    opacity: 0.6;
}

.About{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    font-size: 10px;

}

.About h1{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 30px;
    font-weight: 500;
}

.About h3{
    font-size: 20px;
}

.About ul li{
    list-style: none;
    font-size: 15px;
}

.About ul{
    margin-top: 10px;
}

table{
    margin-top: 100px;
    margin-left: 50px;
    border-spacing: 0;
    float: center;
}

td{
    width: 150px;
    border: 1px solid black;
    height: 80px;
    text-align: center;
}

.row
{
    background-color: rgb(109, 184, 237);
    text-align: center;
}

th{
    height: 30px;
    border: 1px solid black;
}

.search{
 
    margin-top: 20px;
    width: 430px;
    height: 50px;
    border: 4px solid #0d1425;
    padding: 8px;
    justify-content: center;
    display: flex;
    border-radius: 30px;
}
input{
    background: transparent;
    border: 0px;
    outline: 0px;
    width: 300px;
}

.search .icon-search{
    height: 15px;
    width: 15px;
    color: #0d1425;
}

.btn {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600px;
    padding: 10px 40px;
    border: 1px solid;
    border-radius: 6px;
    margin-bottom: 20px;
    margin-right: 10px;
  }
  
  .btn-primary {
    background: var(--bittersweet);
    border-color: var(--bittersweet);
    color: var(--white);
  }
  
  .btn-primary:is(:hover, :focus) { --bittersweet: hsl(215, 24%, 49%); }
  
  .btn-secondary:is(:hover, :focus) { background: hsla(0, 0%, 100%, 0.1); }

  

@media screen and (max-width: 1068px) {
    .container{
        display: table;
    }

    .box{
        width: 100%;
    }

    .About{
        width: 100%;
        margin: 0;
        margin-top: 20px;
    }

    .About h1{
        text-align: center;
    }
}